# Built development files
build/
bin/
gen/
out/
app/build/

# IDE & Editor files
.idea/
.vs/
*.iml
.gradle/
local.properties
.navigation/

# Log files and reports
*.log
outputs/

# OS-specific files
.DS_Store
Thumbs.db

# Local media preview files
Preview/

